.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-one {
  flex-wrap: wrap-reverse;
}

.image, text {
    width: 100%;
}

@media (min-width: 768px) {
    .image, .text {
        width: 50%;
    }
}